<article class="section-content">
    <h1 class="display-6 subtitle">Gestionar Albums Disponibles</h1>

    <div id="search-add-conteiner">
      <a href="{BASE_URL}addAlbum" class="btn btn-outline-dark" id="add-song-btn">Añadir Album</a>
      <form class="d-flex">
          <input class="form-control me-2 bg-dark text-light" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
    </div>

    <div id="songManage-table">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Caratula</th>
                <th scope="col">ID</th>
                <th scope="col">Titulo</th>
                <th scope="col">Artista</th>
                <th scope="col">acción</th>
              </tr>
            </thead>
            <tbody id="albumManage-table-tbody">
              
            </tbody>
          </table>
    </div>

</article>