<article class="section-content">
    <h1 class="display-6 subtitle">Ultimos Lanzamientos</h1>

    <form class="d-flex">
        <input class="form-control me-2 bg-dark text-light" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>

    <audio controls src="https://drive.google.com/uc?id=11L-dniuxcD8OrtM0dU7tCxHX75X-OL4u">
        <source src="https://drive.google.com/uc?id=11L-dniuxcD8OrtM0dU7tCxHX75X-OL4u" type="audio/mpeg">
    </audio>
    <div id="table-home">
        <table class="table table-dark table-striped table-home">
            <thead>
                <tr>
                    <th scope="col">Caratula</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Artista</th>
                    <th scope="col">Año</th>
                    <th scope="col">Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="files\images\philCollins.jpg" class="album-image" alt="but seriously"></td>
                    <td><a href="" class="element-table-link">...But Seriously</a></td>
                    <td><a href="" class="element-table-link">Phil Collins</a></td>
                    <td>1989</td>
                    <td>Albúm</td>
                </tr>
                
            </tbody>
        </table>
    </div>

</article>