/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/* NAVBAR */

    /* FONT DEL TITULO */
        .navbar-brand {
            font-family: 'Raleway', sans-serif;
        }

/* CONTENIDO DEL HOME */

    /* ARTICLE HOME */
        .section-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 45px;
        }
    
    /* CONTENEDOR TABLA HOME */
        #table-home, #songManage-table {
            width: 70%;
            margin-top: 30px;
        }

        .d-flex {
            width: 30%;
            min-width: 300px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    /* IMAGENES DE ALBUMS */
        .album-image {
            width: 100px;
            height: 100px;
        }
    /* LINKS DE LA TABLA */
        .element-table-link {
            color: white;
            text-decoration: none;
        }

    /* PATITO 404 */
        #duck404 {
            width: 20%;
            height: 20%;
        }

/* CONTENIDO DEL ADMINISTRADOR DE CANCIONES */

    /* BARRA DE AÑADIR BUSCAR */
        #search-add-conteiner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 50%;
            margin-top: 30px;
        }

/* APARTADO AÑADIR CANCION */
    
    /* FORMULARIO */

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .message {
        margin-top: 20px;
    }

        /* LABELS E INPUTS */
            .form-label {
                font-size: 150%;
            }
            
            .label-input-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 500px;
                margin-top: 30px;
            }
            
            .form-control {
                max-width: 50%;
            }

            .form-text {
                max-width: 400px;
            }

            .form-text-album {
                max-width: 450px;
            }

            .submit-container {
                justify-content: center;
                margin-top: 40px;
            }

            .submit-btn {
                max-width: 75px;
            }
    

    